<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  {% if user.is_superuser %}
  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ADMIN !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>VDSA</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
  <!-- Latest compiled and minified JavaScript -->
  <script src="{% static 'js/bootstrap-select.min.js' %}"></script>

  <!-- (Optional) Latest compiled and minified JavaScript translation files
  <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js' %}"></script> -->
  <style>
    .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
  </style>
</head>

<body class="grey lighten-5">

  <!--Main Navigation-->
  <header>
  <nav class="navbar navbar-expand-lg navbar-dark grey lighten-1 fixed-top scrolling-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand logo-wrapper waves-effect" href="#">
        <img src="{% static 'img/image_site/logo_vdsa.png' %}" class="img-fluid" alt="">
      </a>
    <ul class="nav nav-tabs navbar-nav text-uppercase mr-auto mt-lg-0">
      <li class="nav-item">
        <a data-toggle="tab" style="background-color:#bdbdbd" class="nav-link" href="#stat">Statistique</a>
      </li>
      <li class="nav-item">
        <a data-toggle="tab" style="background-color:#bdbdbd" class="nav-link" href="#maps">Maps</a>
      </li>
      <li class="nav-item">
        <a data-toggle="tab" style="background-color:#bdbdbd" class="nav-link" href="../admin">Partie administrateur</a>
      </li>
    </ul>       
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-door-open fa-1x"></i>Se déconnecter</a>
        </li>
      </ul>
    </div>
  </nav>

  </header>
    <br>
    <br>
  <!--Main Navigation-->
   
  <!--Main layout-->
  <main class="container-fluid">
      <br>
      <br>
      <div class="card mb-4 wow fadeIn">
        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">
          <h4 class="mb-2 mb-sm-0 pt-1">
            <span>Bienvenue {{user.username}} </span>
          </h4>
        </div>  
      </div>

      <div>
      </div>
      <div class="row">
          <div class="col-xs-6 col-md-3 ">
            <div id="demo" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
              </ul>
              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="panel panel-default card mb-4 wow fadeIn">
                    <div class="panel-body easypiechart-panel">
                      <div class="easypiechart" id="easypiechart-orange" data-percent="{{pourcentage_marge_2016}}" ><span class="percent">{{pourcentage_client_2016}}%</span></div>
                      <label >Client en 2016 comparé à 2015</label>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="panel panel-default card mb-4 wow fadeIn">
                    <div class="panel-body  easypiechart-panel">
                      <div class="easypiechart" id="easypiechart-orange1" data-percent="{{pourcentage_marge_2017}}" ><span class="percent">{{pourcentage_client_2017}}%</span></div>
                      <label >Client en 2017 comparé à 2016</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 ">
            <div id="demo1" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo1" data-slide-to="0" class="active"></li>
                <li data-target="#demo1" data-slide-to="1"></li>
              </ul>
              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="panel panel-default card mb-4 wow fadeIn">
                    <div class="panel-body easypiechart-panel">
                      <div class="easypiechart" id="easypiechart-teal" data-percent="{{pourcentage_ca_2016}}" ><span class="percent">{{pourcentage_ca_2016}}%</span></div>
                      <label >Chiffre d'affaires en 2016 comparé à 2015</label>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="panel panel-default card mb-4 wow fadeIn">
                    <div class="panel-body easypiechart-panel">
                      <div class="easypiechart" id="easypiechart-teal1" data-percent="{{pourcentage_ca_2017}}" ><span class="percent">{{pourcentage_ca_2017}}%</span></div>
                      <label >Chiffre d'affaires en 2017 comparé à 2016</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo1" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 ">
            <div id="demo2" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo2" data-slide-to="0" class="active"></li>
                <li data-target="#demo2" data-slide-to="1"></li>
              </ul>
              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="panel panel-default card mb-4 wow fadeIn">
                    <div class="panel-body easypiechart-panel">
                      <div class="easypiechart" id="easypiechart-blue" data-percent="{{pourcentage_marge_2016}}" ><span class="percent">{{pourcentage_marge_2016}}%</span></div>
                      <label >Marge en 2016 comparé à 2015</label>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="panel panel-default card mb-4 wow fadeIn">
                    <div class="panel-body easypiechart-panel">
                      <div class="easypiechart" id="easypiechart-blue1" data-percent="{{pourcentage_marge_2017}}" ><span class="percent">{{pourcentage_marge_2017}}%</span></div>
                      <label >Marge en 2017 comparé à 2016</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo2" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo2" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 ">
            <div id="demo3" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo3" data-slide-to="0" class="active"></li>
                <li data-target="#demo3" data-slide-to="1"></li>
              </ul>
              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="panel panel-default card mb-4 wow fadeIn">
                    <div class="panel-body easypiechart-panel">
                      <div class="easypiechart" id="easypiechart-violet" data-percent="{{pourcentage_facture_2016}}" ><span class="percent">{{pourcentage_facture_2016}}%</span></div>
                      <label >Nombre facture en 2016 comparé à 2015</label>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="panel panel-default card mb-4 wow fadeIn">
                    <div class="panel-body easypiechart-panel">
                      <div class="easypiechart" id="easypiechart-violet1" data-percent="{{pourcentage_facture_2017}}" ><span class="percent">{{pourcentage_facture_2017}}%</span></div>
                      <label >Nombre facture en 2017 comparé à 2016</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo3" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo3" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
        </div><!--/.row-->
<div class="tab-content">
    <div id="stat" class="tab-pane fade in active container-fluid mt-5 pt-5">

      <!-- Heading -->
      <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">
          <h4 class="mb-2 mb-sm-0 pt-1">
            <span>Tableau de bord</span>
          </h4>
        </div>
      </div>
      <!-- Heading -->

<!--Blue select-->
                  <div class="container-fluid wow text-center">
                    <div class="row">
                      <div class="col-6 col-sm-4">
                        <div class="container">
                          <label class="col-form-label">Client</label>
                            <select class="selectpicker" multiple data-selected-text-format="count>3" data-show-subtext="true"  data-size="6" data-live-search="true" >
                              {% for x in client %}
                                <option > {{ x.code_client }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="col-6 col-sm-4">
                          <div class="container">
                            <label class="col-form-label">Sous-famille</label>
                            <select class="selectpicker" multiple data-selected-text-format="count>3" data-show-subtext="true"  data-size="6" data-live-search="true" >
                              {% for y in sous_famille %}
                                <option >{{ y.libelle_sous_famille }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="col-6 col-sm-4">
                          <div class="container">
                            <label class="col-form-label">Famille</label>
                            <select class="selectpicker" multiple data-selected-text-format="count>3" data-show-subtext="true"  data-size="6" data-live-search="true" >
                              {% for z in famille %}
                                <option >{{ z.libelle_famille }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="col-6 col-sm-4">
                          <div class="container">
                            <label class="col-form-label">Catégories</label>
                            <select class="selectpicker" data-show-subtext="true" data-live-search="true">
                              <option >Prix facturé</option>
                              <option >Marge</option>
                            </select>
                          </div>
                        </div>
                        
                      </div>
                    </div>
        <br>
      <!--Grid row-->
      <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-md-9 mb-4">
          <!--Card-->
          <div class="card">
            <!--Card content-->
            <div class="card-body">
              <canvas id="myChart"></canvas>
            </div>
          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-3 mb-4">
          <!--/.Card-->

          <!--Card-->
          <div class="card mb-4">

            <!--Card content-->
            <div class="card-body">

              <!-- List group links -->
              <div class="list-group list-group-flush">
                <span> Vos chiffres clés </span>
                  <a class="list-group-item list-group-item-action waves-effect">CA de l'année
                    <span class="badge badge-success badge-pill pull-right">{{ ca_2017_Utilisateur|floatformat:"0" }}
                      <i class="fas fa-arrow-up ml-1"></i>
                    </span>
                  </a>
                  <a class="list-group-item list-group-item-action waves-effect">Nombre de ventes de l'année
                    <span class="badge badge-danger badge-pill pull-right">{{ nb_facture_2017_Utilisateur }}
                      <i class="fas fa-arrow-down ml-1"></i>
                    </span>
                  </a>

                </div>
                <!-- List group links -->


            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->

      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

          <div class="col-md-6 mb-4">

              <!--Card-->
              <div class="card" style="overflow-y: auto;">

                  <!--Card content-->
                  <div class="card-body" style="display: block;max-height: 400px;overflow-y: auto;-ms-overflow-style: -ms-autohiding-scrollbar;">
      
                    <!-- Table  -->
                    <table id="myTable" class="table table-hover" >
                       <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
      
                      <!-- Table head -->
                      <thead class="blue-grey lighten-4">
                        <tr class="header">
                          <th>CA pour chaque client</th>
                              <th>2015</th>
                              <th>2016</th>
                              <th>2017</th>
      
                        </tr>
                      </thead>
                      <!-- Table head -->
      
                      <!-- Table body -->
                      <tbody>
                        {% for x in tab_clientCAAnnee %}
                        <tr>
                          <td scope="row">{{ x.client }}</td>
                          <td>{{ x.tab_2015 }}</td>
                          <td>{{ x.tab_2016 }}</td>
                          <td>{{ x.tab_2017 }}</td>
      
                          
                        </tr>
                        {% endfor%}
                      </tbody>
                      <!-- Table body -->
                    </table>
                    <!-- Table  -->
      
                  </div>
      
                </div>
                <!--/.Card-->
              <!--/.Card-->
    
            </div>

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header">Evolution CA 2015-2016-2017 selon les mois</div>

            <!--Card content-->
            <div class="card-body">

              <canvas id="lineChart"></canvas>

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header">CA par mois</div>

            <!--Card content-->
            <div class="card-body">

              <canvas id="radarChart"></canvas>

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header">CA 2017 par famille</div>

            <!--Card content-->
            <div class="card-body">

              <canvas id="doughnutChart"></canvas>

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header">Vos CA : 2015-2016-2017</div>

            <!--Card content-->
            <div class="card-body">

              <canvas id="horizontalBar"></canvas>

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

      <!--Grid row-->
     
      <!--Grid row-->

    
      </div>
    
       <div id="maps" class="tab-pane fade container-fluid mt-5 pt-5 ">
          <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-center">

          <h4 class="mb-2 mb-sm-0 pt-1">
            <span>Maps</span>
          </h4>
        </div>


          <!--Card-->
          <div class="card">

            <!-- Card header -->

            <!--Card content-->
            <div class="card-body">
              <!--Google map-->
              <div id="map-container" class="z-depth-1-half map-container" style="height: 500px">
               
              </div>

              <!--Google Maps-->

            </div>

          </div>
          <!--/.Card-->

        </div>
    
      </div>
    </div>
  </main>
  <!--Main layout-->



  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    
  <script type="text/javascript" src="{% static 'js/easypiechart.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/easypiechart-data.js' %}"></script>
    
    <!-- Latest compiled and minified JavaScript -->
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js"></script> -->
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
  <script>
      function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
      
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      </script>
  <!-- Charts -->
  <script>
      // Line
      var ctx = document.getElementById("myChart").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
      data: {
        labels: ["CA des magasins en 2017"],
        datasets: [{
          label: 'Magasin V', 
          data: [{{ca_Mag_V_2017}}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            /*'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'*/
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            /*'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'*/
          ],
          borderWidth: 1
        },{
          label: 'Magasin D', 
          data: [{{ca_Mag_D_2017}}],
          backgroundColor: [
            'rgba(54, 162, 235, 0.2)',
            /*'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'*/
          ],
          borderColor: [
            'rgba(54, 162, 235, 1)',
            /*'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'*/
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });


 //line
 var ctxL = document.getElementById("lineChart").getContext('2d');
    var myLineChart = new Chart(ctxL, {
      type: 'line',
      data: {
        labels: ["Janvier", "Férier", "Mars", "Avril", "Mai", "Juin", "Juillet","Août","Septembre","Octobre","Novembre","Decembre"],
        datasets: [{
            label: "CA en 2015",
            backgroundColor: [
              'rgba(105, 0, 132, .2)',
            ],
            borderColor: [
              'rgba(200, 99, 132, .7)',
            ],
            borderWidth: 2,
            data: {{tab_ca_mois_2015}}
          },
          {
            label: "CA en 2016",
            backgroundColor: [
              'rgba(0, 137, 132, .2)',
            ],
            borderColor: [
              'rgba(0, 10, 130, .7)',
            ],
            data: {{tab_ca_mois_2016}}
          },
          {
            label: "CA en 2017",
            backgroundColor: [
              'rgba(50, 180, 20, .2)',
            ],
            borderColor: [
              'rgba(50, 180, 20, .7)',
            ],
            data: {{tab_ca_mois_2017}}
          }
        ]
      },
      options: {
        responsive: true
      }
    });


    //radar
    var ctxR = document.getElementById("radarChart").getContext('2d');
    var myRadarChart = new Chart(ctxR, {
      type: 'radar',
      data: {
        labels: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"],
        datasets: [{
          label: "Votre CA 2017 selon les mois",
          data: [{{ca_Jan_Utilisateur}}, {{ca_Fev_Utilisateur}}, {{ca_Mar_Utilisateur}}, {{ca_Avr_Utilisateur}}, {{ca_Mai_Utilisateur}}, {{ca_Juin_Utilisateur}}, {{ca_Juil_Utilisateur}}, {{ca_Aou_Utilisateur}}, {{ca_Sep_Utilisateur}}, {{ca_Oct_Utilisateur}}, {{ca_Nov_Utilisateur}}, {{ca_Dec_Utilisateur}}],
          backgroundColor: [
            'rgba(105, 0, 132, .2)',
          ],
          borderColor: [
            'rgba(200, 99, 132, .7)',
          ],
          borderWidth: 2
        }]
      },
      options: {
        responsive: true
      }
    });

    //doughnut
    var ctxD = document.getElementById("doughnutChart").getContext('2d');
    var myLineChart = new Chart(ctxD, {
      type: 'doughnut',
      data: {
        labels: ["Compta", "Accessoire Auto", "Divers", "Moteur", "Elec", "Freinage", "Liquide", "Filtration", "Direction", "Embrayage", "Entrainement","Echappement"],
        datasets: [{
          data: [31428, 602760, 330460, 22086, 98034, 7050, 103731, 714040, 85321, 21780, 1198585, 515683],
          backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#525056", "#B634A8","#3444B6","#DFE428","#65E428","#030303","#095836","#6E2ACB"],
          hoverBackgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#525056", "#B634A8","#3444B6","#DFE428","#65E428","#030303","#095836","#6E2ACB"]
        }]
      },
      options: {
        responsive: true
      }
    });

  </script>
    
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1Yiu3kaf63qoM4I2zjJVaYeqlRpbd6fg&callback=initMap"
    async defer></script>
  <!--Google Maps-->
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
  <script src="https://maps.google.com/maps/api/js"></script>
  <script>
    // Regular map   


function initMap() {

        var map = new google.maps.Map(document.getElementById('map-container'), {
          zoom: 6,
          center: {lat: 48.856614, lng: 2.3522219000000177}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'AB';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [
        {lat: 48.7597821, lng: 2.3869428000000426},
        {lat: 49.063705, lng: 2.0180050000000165},
        {lat: 48.9969698, lng: 2.1026339000000007},
        {lat: 49.0700239, lng: 2.0627150000000256},
        {lat: 49.0496089, lng: 1.9503049999999575},
        {lat: 48.9320252, lng: 2.3990819000000556},
        {lat: 49.207811, lng: 2.051657999999975},
        {lat: 49.03561699999999, lng: 2.0603250000000344},
        {lat: 49.091492, lng: 1.605403000000024},
        {lat: 49.018834, lng: 2.3789259999999786},
        {lat: 48.909203, lng: 1.8494049999999334},
        {lat: 48.884831, lng: 2.268509999999992},
        {lat: 49.022697, lng: 2.1547299000000066},
        {lat: 49.165904, lng: 2.247296},
        {lat: 49.027001, lng: 2.325885},
        {lat: 49.043029, lng: 2.29832},
        {lat: 49.027188, lng: 2.360067},
        {lat: 48.986637, lng: 2.344171},
        {lat: 48.730227, lng: 2.326996},
        {lat: 49.049533, lng: 2.335168}
      ]


    // Initialize maps
    google.maps.event.addDomListener(window, 'load', initMap);

    new Chart(document.getElementById("horizontalBar"), {
      type: 'bar',
      data: {
        labels: ["CA selon les annes"],
        datasets: [{
          label: '2017', 
          data: [{{ca_2017_Utilisateur}}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            /*'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'*/
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            /*'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'*/
          ],
          borderWidth: 1
        },{
          label: '2016', 
          data: [{{ca_2016_Utilisateur}}],
          backgroundColor: [
            'rgba(54, 162, 235, 0.2)',
            /*'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'*/
          ],
          borderColor: [,
            'rgba(54, 162, 235, 1)',
            /*'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'*/
          ],
          borderWidth: 1
        },{
          label: '2015', 
          data: [{{ca_2015_Utilisateur}}],
          backgroundColor: [
            'rgba(255, 206, 86, 0.2)',
            /*'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'*/
          ],
          borderColor: [
            'rgba(255, 206, 86, 1)',
            /*'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'*/
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    }); 

  </script>
</body>

</html>


<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!USER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

  {% else %}
  {% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>VDSA</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
  <!-- Latest compiled and minified JavaScript -->
  <script src="{% static 'js/bootstrap-select.min.js' %}"></script>

  <!-- (Optional) Latest compiled and minified JavaScript translation files
  <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js' %}"></script> -->
  <style>
    .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
  </style>
</head>

<body class="grey lighten-5">

  <!--Main Navigation-->
  <header>
  <nav class="navbar navbar-expand-lg navbar-dark grey lighten-1 fixed-top scrolling-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand logo-wrapper waves-effect" href="#">
        <img src="{% static 'img/image_site/logo_vdsa.png' %}" class="img-fluid" alt="">
      </a>
    <ul class="nav nav-tabs navbar-nav text-uppercase mr-auto mt-lg-0">
      <li class="nav-item">
        <a data-toggle="tab" style="background-color:#bdbdbd" class="nav-link" href="#stat">Statistique</a>
      </li>
      <li class="nav-item">
        <a data-toggle="tab" style="background-color:#bdbdbd" class="nav-link" href="#maps">Maps</a>
      </li>

      
    </ul>       
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-door-open fa-1x"></i>Se déconnecter</a>
        </li>
      </ul>
    </div>
  </nav>

  </header>
    <br>
    <br>
  <!--Main Navigation-->
   
  <!--Main layout-->
  <main class="container-fluid">
      <br>
      <br>
      <div class="card mb-4 wow fadeIn">
        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">
          <h4 class="mb-2 mb-sm-0 pt-1">
            <span>Bienvenue {{user.username}} </span>
          </h4>
        </div>  
      </div>

      <div>
      </div>
      <div class="row">
          <div class="col-xs-6 col-md-3 ">
            <div id="demo" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
              </ul>
              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="panel panel-default card mb-4 wow fadeIn">
                    <div class="panel-body easypiechart-panel">
                      <div class="easypiechart" id="easypiechart-orange" data-percent="{{pourcentage_marge_2016}}" ><span class="percent">{{pourcentage_client_2016}}%</span></div>
                      <label >Client en 2016 comparé à 2015</label>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="panel panel-default card mb-4 wow fadeIn">
                    <div class="panel-body  easypiechart-panel">
                      <div class="easypiechart" id="easypiechart-orange1" data-percent="{{pourcentage_marge_2017}}" ><span class="percent">{{pourcentage_client_2017}}%</span></div>
                      <label >Client en 2017 comparé à 2016</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 ">
            <div id="demo1" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo1" data-slide-to="0" class="active"></li>
                <li data-target="#demo1" data-slide-to="1"></li>
              </ul>
              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="panel panel-default card mb-4 wow fadeIn">
                    <div class="panel-body easypiechart-panel">
                      <div class="easypiechart" id="easypiechart-teal" data-percent="{{pourcentage_ca_2016}}" ><span class="percent">{{pourcentage_ca_2016}}%</span></div>
                      <label >Chiffre d'affaires en 2016 comparé à 2015</label>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="panel panel-default card mb-4 wow fadeIn">
                    <div class="panel-body easypiechart-panel">
                      <div class="easypiechart" id="easypiechart-teal1" data-percent="{{pourcentage_ca_2017}}" ><span class="percent">{{pourcentage_ca_2017}}%</span></div>
                      <label >Chiffre d'affaires en 2017 comparé à 2016</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo1" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 ">
            <div id="demo2" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo2" data-slide-to="0" class="active"></li>
                <li data-target="#demo2" data-slide-to="1"></li>
              </ul>
              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="panel panel-default card mb-4 wow fadeIn">
                    <div class="panel-body easypiechart-panel">
                      <div class="easypiechart" id="easypiechart-blue" data-percent="{{pourcentage_marge_2016}}" ><span class="percent">{{pourcentage_marge_2016}}%</span></div>
                      <label >Marge en 2016 comparé à 2015</label>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="panel panel-default card mb-4 wow fadeIn">
                    <div class="panel-body easypiechart-panel">
                      <div class="easypiechart" id="easypiechart-blue1" data-percent="{{pourcentage_marge_2017}}" ><span class="percent">{{pourcentage_marge_2017}}%</span></div>
                      <label >Marge en 2017 comparé à 2016</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo2" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo2" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 ">
            <div id="demo3" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo3" data-slide-to="0" class="active"></li>
                <li data-target="#demo3" data-slide-to="1"></li>
              </ul>
              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="panel panel-default card mb-4 wow fadeIn">
                    <div class="panel-body easypiechart-panel">
                      <div class="easypiechart" id="easypiechart-violet" data-percent="{{pourcentage_facture_2016}}" ><span class="percent">{{pourcentage_facture_2016}}%</span></div>
                      <label >Nombre facture en 2016 comparé à 2015</label>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="panel panel-default card mb-4 wow fadeIn">
                    <div class="panel-body easypiechart-panel">
                      <div class="easypiechart" id="easypiechart-violet1" data-percent="{{pourcentage_facture_2017}}" ><span class="percent">{{pourcentage_facture_2017}}%</span></div>
                      <label >Nombre facture en 2017 comparé à 2016</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo3" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo3" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
        </div><!--/.row-->
<div class="tab-content">
    <div id="stat" class="tab-pane fade in active container-fluid mt-5 pt-5">

      <!-- Heading -->
      <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">
          <h4 class="mb-2 mb-sm-0 pt-1">
            <span>Tableau de bord</span>
          </h4>
        </div>
      </div>
      <!-- Heading -->

<!--Blue select-->
                  <div class="container-fluid wow text-center">
                    <div class="row">
                      <div class="col-6 col-sm-4">
                        <div class="container">
                          <label class="col-form-label">Client</label>
                            <select class="selectpicker" multiple data-selected-text-format="count>3" data-show-subtext="true"  data-size="6" data-live-search="true" >
                              {% for x in client %}
                                <option > {{ x.code_client }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="col-6 col-sm-4">
                          <div class="container">
                            <label class="col-form-label">Sous-famille</label>
                            <select class="selectpicker" multiple data-selected-text-format="count>3" data-show-subtext="true"  data-size="6" data-live-search="true" >
                              {% for y in sous_famille %}
                                <option >{{ y.libelle_sous_famille }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="col-6 col-sm-4">
                          <div class="container">
                            <label class="col-form-label">Famille</label>
                            <select class="selectpicker" multiple data-selected-text-format="count>3" data-show-subtext="true"  data-size="6" data-live-search="true" >
                              {% for z in famille %}
                                <option >{{ z.libelle_famille }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="col-6 col-sm-4">
                          <div class="container">
                            <label class="col-form-label">Catégories</label>
                            <select class="selectpicker" data-show-subtext="true" data-live-search="true">
                              <option >Prix facturé</option>
                              <option >Marge</option>
                            </select>
                          </div>
                        </div>
                        
                      </div>
                    </div>
        <br>
      <!--Grid row-->
      <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-md-9 mb-4">
          <!--Card-->
          <div class="card">
            <!--Card content-->
            <div class="card-body">
              <canvas id="myChart"></canvas>
            </div>
          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-3 mb-4">

          <!--Card-->
          <div class="card mb-4">

            <!--Card content-->
            <div class="card-body">

              <!-- List group links -->
              <div class="list-group list-group-flush">
                  <span> Vos chiffres clés </span>
                  <a class="list-group-item list-group-item-action waves-effect">CA de l'année
                    <span class="badge badge-success badge-pill pull-right">{{ ca_2017_Utilisateur|floatformat:"0" }}
                      <i class="fas fa-arrow-up ml-1"></i>
                    </span>
                  </a>
                  <a class="list-group-item list-group-item-action waves-effect">Nombre de ventes de l'année
                    <span class="badge badge-danger badge-pill pull-right">{{ nb_facture_2017_Utilisateur }}
                      <i class="fas fa-arrow-down ml-1"></i>
                    </span>
                  </a>
                </div>
                <!-- List group links -->


            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->

      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

          <div class="col-md-6 mb-4">

              <!--Card-->
              <div class="card" style="overflow-y: auto;">

                  <!--Card content-->
                  <div class="card-body" style="display: block;max-height: 400px;overflow-y: auto;-ms-overflow-style: -ms-autohiding-scrollbar;">
      
                    <!-- Table  -->
                    <table id="myTable" class="table table-hover" >
                       <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
      
                      <!-- Table head -->
                      <thead class="blue-grey lighten-4">
                        <tr class="header">
                          <th>CA pour chaque client</th>
                              <th>2015</th>
                              <th>2016</th>
                              <th>2017</th>
      
                        </tr>
                      </thead>
                      <!-- Table head -->
      
                      <!-- Table body -->
                      <tbody>
                        {% for x in tab_clientCAAnnee %}
                        <tr>
                          <td scope="row">{{ x.client }}</td>
                          <td>{{ x.tab_2015 }}</td>
                          <td>{{ x.tab_2016 }}</td>
                          <td>{{ x.tab_2017 }}</td>
      
                          
                        </tr>
                        {% endfor%}
                      </tbody>
                      <!-- Table body -->
                    </table>
                    <!-- Table  -->
      
                  </div>
      
                </div>
                <!--/.Card-->
    
            </div>

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header">Evolution CA 2015-2016-2017 selon les mois</div>

            <!--Card content-->
            <div class="card-body">

              <canvas id="lineChart"></canvas>

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header">CA par mois</div>

            <!--Card content-->
            <div class="card-body">

              <canvas id="radarChart"></canvas>

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header">CA 2017 par famille</div>

            <!--Card content-->
            <div class="card-body">

              <canvas id="doughnutChart"></canvas>

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-4">

          <!--Card-->
          <div class="card">

            <!-- Card header -->
            <div class="card-header">Vos CA : 2015-2016-2017</div>

            <!--Card content-->
            <div class="card-body">

              <canvas id="horizontalBar"></canvas>

            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

      <!--Grid row-->
     
    
      </div>
    
       <div id="maps" class="tab-pane fade container-fluid mt-5 pt-5 ">
          <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-center">

          <h4 class="mb-2 mb-sm-0 pt-1">
            <span>Maps</span>
          </h4>
        </div>


          <!--Card-->
          <div class="card">

            <!-- Card header -->

            <!--Card content-->
            <div class="card-body">
              <!--Google map-->
              <div id="map-container" class="z-depth-1-half map-container" style="height: 500px">
               
              </div>

              <!--Google Maps-->

            </div>

          </div>
          <!--/.Card-->

        </div>
    
      </div>
    </div>
  </main>
  <!--Main layout-->



  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    
  <script type="text/javascript" src="{% static 'js/easypiechart.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/easypiechart-data.js' %}"></script>
    
    <!-- Latest compiled and minified JavaScript -->
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js"></script> -->
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
  <script>
      function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
      
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      </script>
  <!-- Charts -->
  <script>
      // Line
      var ctx = document.getElementById("myChart").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
      data: {
        labels: ["CA des magasins en 2017"],
        datasets: [{
          label: 'Magasin V', 
          data: [{{ca_Mag_V_2017}}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            /*'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'*/
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            /*'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'*/
          ],
          borderWidth: 1
        },{
          label: 'Magasin D', 
          data: [{{ca_Mag_D_2017}}],
          backgroundColor: [
            'rgba(54, 162, 235, 0.2)',
            /*'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'*/
          ],
          borderColor: [
            'rgba(54, 162, 235, 1)',
            /*'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'*/
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });


 //line
 var ctxL = document.getElementById("lineChart").getContext('2d');
    var myLineChart = new Chart(ctxL, {
      type: 'line',
      data: {
        labels: ["Janvier", "Férier", "Mars", "Avril", "Mai", "Juin", "Juillet","Août","Septembre","Octobre","Novembre","Decembre"],
        datasets: [{
            label: "CA en 2015",
            backgroundColor: [
              'rgba(105, 0, 132, .2)',
            ],
            borderColor: [
              'rgba(200, 99, 132, .7)',
            ],
            borderWidth: 2,
            data: {{tab_ca_mois_2015}}
          },
          {
            label: "CA en 2016",
            backgroundColor: [
              'rgba(0, 137, 132, .2)',
            ],
            borderColor: [
              'rgba(0, 10, 130, .7)',
            ],
            data: {{tab_ca_mois_2016}}
          },
          {
            label: "CA en 2017",
            backgroundColor: [
              'rgba(50, 180, 20, .2)',
            ],
            borderColor: [
              'rgba(50, 180, 20, .7)',
            ],
            data: {{tab_ca_mois_2017}}
          }
        ]
      },
      options: {
        responsive: true
      }
    });


    //radar
    var ctxR = document.getElementById("radarChart").getContext('2d');
    var myRadarChart = new Chart(ctxR, {
      type: 'radar',
      data: {
        labels: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"],
        datasets: [{
          label: "Votre CA 2017 selon les mois",
          data: [{{ca_Jan_Utilisateur}}, {{ca_Fev_Utilisateur}}, {{ca_Mar_Utilisateur}}, {{ca_Avr_Utilisateur}}, {{ca_Mai_Utilisateur}}, {{ca_Juin_Utilisateur}}, {{ca_Juil_Utilisateur}}, {{ca_Aou_Utilisateur}}, {{ca_Sep_Utilisateur}}, {{ca_Oct_Utilisateur}}, {{ca_Nov_Utilisateur}}, {{ca_Dec_Utilisateur}}],
          backgroundColor: [
            'rgba(105, 0, 132, .2)',
          ],
          borderColor: [
            'rgba(200, 99, 132, .7)',
          ],
          borderWidth: 2
        }]
      },
      options: {
        responsive: true
      }
    });

    //doughnut
    var ctxD = document.getElementById("doughnutChart").getContext('2d');
    var myLineChart = new Chart(ctxD, {
      type: 'doughnut',
      data: {
        labels: ["Compta", "Accessoire Auto", "Divers", "Moteur", "Elec", "Freinage", "Liquide", "Filtration", "Direction", "Embrayage", "Entrainement","Echappement"],
        datasets: [{
          data: [31428, 602760, 330460, 22086, 98034, 7050, 103731, 714040, 85321, 21780, 1198585, 515683],
          backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#525056", "#B634A8","#3444B6","#DFE428","#65E428","#030303","#095836","#6E2ACB"],
          hoverBackgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#525056", "#B634A8","#3444B6","#DFE428","#65E428","#030303","#095836","#6E2ACB"]
        }]
      },
      options: {
        responsive: true
      }
    });

  </script>
    
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1Yiu3kaf63qoM4I2zjJVaYeqlRpbd6fg&callback=initMap"
    async defer></script>
  <!--Google Maps-->
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
  <script src="https://maps.google.com/maps/api/js"></script>
  <script>
    // Regular map   
function initMap() {

        var map = new google.maps.Map(document.getElementById('map-container'), {
          zoom: 6,
          center: {lat: 48.856614, lng: 2.3522219000000177}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'AB';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [
        {lat: 48.7597821, lng: 2.3869428000000426},
        {lat: 49.063705, lng: 2.0180050000000165},
        {lat: 48.9969698, lng: 2.1026339000000007},
        {lat: 49.0700239, lng: 2.0627150000000256},
        {lat: 49.0496089, lng: 1.9503049999999575},
        {lat: 48.9320252, lng: 2.3990819000000556},
        {lat: 49.207811, lng: 2.051657999999975},
        {lat: 49.03561699999999, lng: 2.0603250000000344},
        {lat: 49.091492, lng: 1.605403000000024},
        {lat: 49.018834, lng: 2.3789259999999786},
        {lat: 48.909203, lng: 1.8494049999999334},
        {lat: 48.884831, lng: 2.268509999999992},
        {lat: 49.022697, lng: 2.1547299000000066},
        {lat: 49.165904, lng: 2.247296},
        {lat: 49.027001, lng: 2.325885},
        {lat: 49.043029, lng: 2.29832},
        {lat: 49.027188, lng: 2.360067},
        {lat: 48.986637, lng: 2.344171},
        {lat: 48.730227, lng: 2.326996},
        {lat: 49.049533, lng: 2.335168}
      ]


    // Initialize maps
    google.maps.event.addDomListener(window, 'load', initMap);

    new Chart(document.getElementById("horizontalBar"), {
      type: 'bar',
      data: {
        labels: ["CA selon les annes"],
        datasets: [{
          label: '2017', 
          data: [{{ca_2017_Utilisateur}}],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            /*'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'*/
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            /*'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'*/
          ],
          borderWidth: 1
        },{
          label: '2016', 
          data: [{{ca_2016_Utilisateur}}],
          backgroundColor: [
            'rgba(54, 162, 235, 0.2)',
            /*'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'*/
          ],
          borderColor: [,
            'rgba(54, 162, 235, 1)',
            /*'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'*/
          ],
          borderWidth: 1
        },{
          label: '2015', 
          data: [{{ca_2015_Utilisateur}}],
          backgroundColor: [
            'rgba(255, 206, 86, 0.2)',
            /*'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'*/
          ],
          borderColor: [
            'rgba(255, 206, 86, 1)',
            /*'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'*/
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    }); 

  </script>
</body>

</html>




  {% endif %}
{% else %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>VDSA</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
  
    <!-- (Optional) Latest compiled and minified JavaScript translation files
    <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js' %}"></script> -->
    <style>
      .map-container{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
      }
      .map-container iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
      }
    </style>
  </head>
  <body class="grey lighten-5">
    <div class="text-center">
        <p>Vous n'êtes pas connecté</p>
        <a href="{% url 'login' %}">Connectez-vous</a>
    </div>
  </body>
{% endif %}
{% endblock %}
