<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>VDSA</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{% static 'css/mdb.min.css' %} " rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{% static 'css/style.min.css' %} " rel="stylesheet">

</head>

<body class="grey lighten-2">
    <div class="container w-responsive text-center mx-auto p-3 mt-2">
        <!-- Default form login -->
        <form class="w-responsive text-center mx-auto p-3 mt-2" method="POST">
                <a class="logo-wrapper waves-effect">
                  <img src="img/image_site/logo_vdsa.png" class="img-fluid" alt="">
                </a>
              <br>
              <br>
              <br>
              <br>
              <p class="h4 text-monospace mb-4">Bienvenue sur le site intranet de VDSA</p>
              <br>
              
              <p class="h4 mb-4 text-monospace mb-4">Connexion</p>
              
              {% csrf_token %}
              {{ form.as_p }}
              
              <div class="d-flex justify-content-around">
                  <div>
                      <!-- Remember me -->
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                      </div>
                  </div>
                  <div class="mx-auto">
                      <!-- Forgot password -->
                      <a href="">Mot de passe oublié ?</a>
                  </div>
              </div>
              
              <!-- Sign in button -->
              <button class="btn btn-info btn-block my-4" type="submit">Connexion</button>
              <!-- Register -->
              
              
              <!-- Social login -->
              </form>
    </div>
<!-- Default form login -->
</body>
</html>
{% endblock %}